@using BusinessObjects;
@{
    ViewData["Title"] = "Add recipe";
}
@model List<Ingredient>
<div class="text-center">
    <h1 class="display-4">Add recipe</h1>
    <form asp-action="AddRecipe" asp-controller="Recipe" method="POST">
        <label for="RecipeName">Recipe name:</label><br>
        <input type="text" id="RecipeName" name="RecipeName" placeholder="Name" required><br>
        <label for="desc">Description:</label><br>
        <input type="text" id="Description" name="Description" placeholder="Description" required><br><br>
        <div class="ingredient-scroll">
            @foreach(Ingredient ingredient in Model)
            {
                <input type="checkbox" id="@ingredient.Id" name="@ingredient.Id" value="@ingredient.Name" />
                @ingredient.Name;
                <br />
            }
        </div>
        <br />
        <input type="submit" value="Submit">
    </form>
    <br />
    @ViewBag.Message
    <br />

    <a class="btn btn-primary" asp-action="Index" asp-controller="Recipe">
        Go back
    </a>
</div>
